<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Выбор времени</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="{{ design }}">
  <div class="container">
    <h1>Выбери удобное время для встречи</h1>
    <div class="invitation-text">
      <h2>{{ intro }}</h2>
      <p>{{ proposal }}</p>
    </div>
    <form method="post">
      <ul class="time-list">
        {% for time in times %}
          <li>
            <label>
              <input type="radio" name="selected_time" value="{{ time }}" required>
              {{ time }}
            </label>
          </li>
        {% endfor %}
      </ul>
      <!-- Скрытые поля для передачи данных -->
      <input type="hidden" name="design" value="{{ design }}">
      <input type="hidden" name="intro" value="{{ intro }}">
      <input type="hidden" name="proposal" value="{{ proposal }}">
      <input type="hidden" name="chat_id" value="{{ chat_id }}">
      <button type="submit" class="button">Подтвердить</button>
    </form>
  </div>
</body>
</html>
